/dataset/lastfm-dataset-1K/README.txt
/dataset/lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv
/dataset/lastfm-dataset-1K/userid-profile.tsv
/dataset/lastfm-dataset-1K

/dataset/extract_audio_pipeline/output
/dataset/extract_audio_pipeline/paths.py
/dataset/extract_audio_pipeline/cookies/
/dataset/extract_audio_pipeline/__pycache__/
/dataset/extract_audio_pipeline/logs/
/dataset/extract_audio_pipeline/full_pipeline_overall.py

/download_audio_embed.sh
/download_audio_parall_l.sh
/embed_audio_parall_l.sh
/csv_unique_tracks.sh
/test.sh

/dataset/audio_embed_pipeline/__pycache__

/logs

/final.py
/final.sh

/dataset/hmagapu_output

/trash